FIREBASE_CREDENTIALS_PATH=path/to/firebase_service_account.json
FIREBASE_PROJECT_ID=gamenect-prod
TRAINING_OUTPUT_DIR=data/artifacts
RAW_DATA_DIR=data/raw
PROCESSED_DATA_DIR=data/processed
TENSORBOARD_LOG_DIR=logs/tensorboard
TRAINING_HISTORY_DIR=logs/training_history
REMOTE_MODEL_REGISTRY=http://127.0.0.1:7000
